span > a {
  text-decoration: none;
  color: #f8f9fa !important;
}

span > a:hover {
  text-decoration: none;
  color: #f8f9fa !important;
}

.container-fluid {
  padding: 0;
  background: url("../images/black-and-white-carriage-clouds.jpg");
  background-position: center center;
  background-size: cover;
  min-height: 100vh;
}
